@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Klee One', cursive;
  font-weight: bolder;
  text-decoration: none;
}
body{
    background-color: #b8ffd7 ;
  }
html{
  scroll-behavior: smooth;
}
.rooter{
  height: 100vh;
  background-image: url('./lp-images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  background-color: rgba(148, 120, 120, 0.582);
}
.logo .mylogo{
  font-size: 30px;
  color: #ffff;
  text-decoration: none;
  text-shadow: 3px 3px rgba(50,70,50,0.75);
}
.mylogo:hover{
  text-decoration: none;
  color: #b8ffd7
}
nav{
  display: flex;
}
.nav-link{
  color: rgba(255, 255, 255, 0.842);
  /* padding: 10px;
  margin: 10px; */
}
.nav-link:hover{
  color: #b8ffd7;
  transition: 200ms ease-in-out all;
}
.landCards{
  display: flex;
}
.landing{
  margin: auto;
  padding: 10px;
  display: grid;
  height: 80vh;
  width: 40vw;
  background-color: ivory;
}
.text{
  margin:auto ;
}
.landingImages{
  margin: auto;
  float: left;
  height: 40vh;
  width: 20vw;
  border-radius: 2px;
}
button{
  margin: auto;
  border-radius: 5px;
  width: 10vw;
  border: none;
}
button:hover{
  text-decoration: none;
  background-color: #b8ffd7;
  transition: 200ms;
}
.contact{
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.cform{
  padding: 15px;
  margin: auto;
}
#message{
  height: 20vh;
}
.input{
  height: 6vh;
  border-radius: 10px;
  border: none;
  width: 50vw;
}
.title{
  color: #b8ffd7;
  font-weight: 900;
  padding: 10px;
  margin-left: 50vw;
  font-size: 2.2em;
}
.blog-item{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.item{
  margin-left: 30px;
  padding: 10px;
  height: 30vh;
  width: 15vw;
}
.slip{
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  margin-right: 20px;
  height: 58vh;
  width: 20vw;
  border-radius: 20px;
  background-color: #ffff;
}
.nList{
  padding: 15px;
  margin: 50px;
}
.nList li{
  text-decoration: none;
}
.scale{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border-radius: 5px;
  padding: 20px;
  height: 100vh;
  background-color: #ffff;
  padding: 10px;
  margin: 20px;
}
.s-s{
  display: flex;
}
.card-index{
  display: grid;
}

.search{
  height: 10vh;
  width: 30vw;
  margin: 20px;
  margin-left: 33vw;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.card-img{
  height: 200px;
  width: 150px;
}
.card-list{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2,1fr);
  
}
.card{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  height: 58vh;
  width: 22vw;
  border-radius: 5px;
  background-color: #ffff;
}
.Bot-Avatar{
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-right: 10px;
}
.bot-img, .react-chatbot-kit-user-avatar-container{
  width: 52px;
  height: 50px;
  border-radius: 50%;
}
.react-chatbot-kit-user-avatar-container{
  background-color: #F08080;
}
.post{
  background-color: #ffff;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
}