@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');

:root{
  --main-bg-clr: #a7bfac;
  --dark-green: #4d6b53;
  --light-green: #e0e8e1;
  --white-green: #f7f9f8;
  --light-pink: #E7C5AF;
  --dark-pink:#E8A88B;
}
::selection{
  background-color: var(--light-pink);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  overflow-x: hidden;
}
body{
    color: var(--dark-green);
  }
html{
  scroll-behavior: smooth;
  background-color: #e8a88b73;
}
.rooter{
  height: 100vh;
  background-attachment: fixed;
  background-image: url('./lp-images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  background-color: var(--dark-green);
}
.logo .mylogo{
  font-size: 45px;
  font-family: 'IM Fell French Canon', serif;
  font-weight: 900;
  color: var(--main-bg-clr);
  text-decoration: none;
  text-shadow: 3px 3px rgba(50,70,50,0.75);
}
.logo:hover{
  text-decoration: none;
}
nav{
  display: flex;
}
.nav-link{
  color: 	var(--white-green);
  font-weight: 700;
  font-size: 1.5rem;
}
.nav-link:hover{
  color: var(--main-bg-clr);
  transition: 200ms ease-in-out all;
}
.landCards{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-clr);
}
.landing{
  background-color: var(--main-bg-clr);
  color: var(--dark-green);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 33vw;
  text-align: left;
  background-color: var(--main-bg-clr);
  border-radius: 0;
}
.landing:hover{
  background-color: #204d28bb;
  color:#a1adaa;
  font-size: 1.5rem;
  line-height: 2.5rem;
  height: 82vh;
}
.landing:hover h1{
  font-size: 4rem;
}
.text{
  margin:auto ;
}
.landingImages{
  margin: auto;
  float: left;
  height: 40vh;
  border-radius: 2px;
}
button{
  color: var(--dark-green);
  border-radius: 5px;
  width: 10vw;
  border: none;
}
button:hover{
  text-decoration: none;
  background-color: var(--dark-pink);
  transition: 200ms;
}
.contact{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
}
.contact h1{
  color: var(--light-green);
}
.about{
  background-color: rgb(131 161 137 / 92%);
}
.cform{
  padding: 20px;
  margin: auto;
  background-color: var(--dark-green);
  color: var(--main-bg-clr);
  font-size: 1.5rem;
  line-height: 3.5rem;
}
.cform .btn{
  height: 10vh;
  background-color: var(--dark-green);
  border-radius: 20px;
  margin-left: 40%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--light-green);
  border: 3px solid var(--main-bg-clr);
}
.cform .btn:hover{
  background-color: var(--main-bg-clr);
  color: var(--dark-green);
}
#message{
  height: 20vh;
}
.input{
  padding: 10px;
  height: 6vh;
  color: var(--main-bg-clr);;
  border-radius: 10px;
  border: 3px solid var(--main-bg-clr);
  width: 50vw;
  background-color: var(--dark-green);
  font-size: 1.5rem;
}
.input:focus{
  border: 3px solid var(--dark-green);
  background-color: var(--main-bg-clr);
  color: var(--dark-green);
  outline: none;
}
.input:hover{
  border: 3px solid var(--dark-green);
  background-color: var(--main-bg-clr);
  color: var(--dark-green);
  outline: none;
}
.title{
  color: var(--main-bg-clr);
  font-weight: 900;
  padding: 10px;
  margin-left: 50vw;
  font-size: 2.2em;
}
.blog-item{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  /* margin-left: 2vw; */
  overflow-y:auto;
  flex-wrap: wrap;
}

.item{
  padding: 10px;
  height: 30vh;
}
.blogs-menu{
  background-color: #e8a88b73;
  background-size: cover;
  height: 100vh;
}
.text_styles{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Rockwell;
  line-height: 2rem;
} 
.slip{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 0.5rem;
  margin-right: 20px;
  height: 60vh;
  width: 40vh;
  border-radius: 20px;
  color: var(--dark-green);
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Rockwell;
  line-height: 1.5rem;
  text-align: left;
  background-color: var(--main-bg-clr);
}
.slip:hover{
  text-decoration: none;
}
.nList{
  width: 80vw;
  height: 100vh;
  padding: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: var(--main-bg-clr);
  /* height: 100vh; */
  text-decoration: none;
  overflow: hidden;
}
.p-item{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.prod-nav{
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--dark-green);
}
.prod-nav h3{
  padding: 10px;
}
/* .prod-img{
  display: grid;
  grid-template-columns: repeat(3,1fr);
} */
.prod-list img{
  height: 20vh;
}
.li{
  list-style: none;
  font-size: 1.6rem;
}
a{
  font-weight: 550;
  color: var(--main-bg-clr);
}
h2, h1{
  font-weight: 600;
}
/* img{
  margin: 10erm;
} */
.li :hover{
  text-decoration: none;
  color: var(--dark-pink);
}
.nurse-img{
  height: 30vh;
  padding: 10px;
}
.scale{
  display: grid;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 55vh;
  border-radius: 5px;
  background-color: var(--main-bg-clr);
  overflow-y: scroll;
}
.card-index{
  display: grid;
}
.s-s{
  display: grid;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.search{
  float: right;
  height: 10vh;
  width: 30vw;
  margin: 20px;
  padding: 10px;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
}
.search:focus{
  outline: none;
}
.card-img{
  height: 200px;
  width: 150px;
}
.card-list{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);
  
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 2px;
  height: 56vh;
  width: 20vw;
  border-radius: 5px;
  background-color: var(--main-bg-clr);
}
.Bot-Avatar{
  color: var(--white-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-right: 10px;
}
.bot-img, .react-chatbot-kit-user-avatar-container{
  width: 52px;
  height: 50px;
  border-radius: 50%;
  /* background-color: #F08080; */

}
.post{
  background-color: #0e74292c;
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 5rem;
  color: #07110b;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Rockwell;
  line-height: 3rem;
  /* background-color: var(--white-green); */
  margin-right: 15vw;
  margin-left: 15vw;
  padding: 10px;
}
.chive{
  float: right;
  margin-right: 50px;
  margin-top: 350px;
  height: 15vh;
  width: 5vw;
  border-radius: 50%;
  transition: 5ms step-start;
}
.gg{
  margin: 20px;
  padding: 50px;
  background: url('./lp-images/gg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 37vh;
  width: 41vw;
  border-radius: 50%;
}
@media only  screen and (max-width:800px) and (min-width:400px){
  .rooter{
    background-size: cover;
  }
}
@media only  screen and (max-width:400px){
  .navbar{
    padding-left: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .nav-link{
    margin-right: 20px;
  }
}
.about{
  background-color: #0d47197a !important;
  color: #001f16;
}
.post_page{
  background-color: #e8a88b73;
}
.prod-nav-item{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  font-size: 1.5em;
  cursor: pointer;
}

.prod-nav-item:hover{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.7em;
  cursor: pointer;
}
.focus{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.7em;
  cursor: pointer;
}
.product{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin:15px;
  height: 40vh;
  width: 15vw;
  background-color: #ffffff13;;
  align-items: center;
  border-radius: 3%;
  font-weight: 900;
}
.product:hover{
  background-color: #1a2e1f94;
  color: var(--main-bg-clr);
  text-decoration: none;
}
.product button{
  margin: 0;
}
.product img{
  margin: 10px;
  padding: 5px;
}
.products_page{
  background-color: #142a19ea;
  background: cover;
}
a:hover{
  text-decoration: none;
}
.option_drop_down{
  margin: 0.5rem;
  padding: 5px;
  background-color: #5e8b676c;
  color: #2a422fda;
  font-weight: 400;
}
.option_drop_down:hover{
  background-color: #2a422fda;
  color: #98b89ec4;
}
select#option_drop_down {
  border:none !important;
  outline:0px;
}
.row{
  padding: 5px;
  /* margin: 5px; */
}
h6{
  font-weight: 900;
}