

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
  display: flex;
  background-color: #6495ED;

}
.quote{
  margin: auto;
  width: 100%;
  width: 500px;
  min-height: 180px;
  padding: 30px;
  background-color: #79726c;
  border-radius: solid black 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
}
p{
  color: #6495ED;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  word-wrap: break-word;
}

p:last-of-type{
  margin: 10px 0;
  font-style: italic;
}
button{
  padding: 5px;
  margin-right: 12px;
  border: none;
  outline: none;
  background: #6495ED;
  border-radius: 3px;
  transition: 500ms ease-in-out;
}
button:hover{
  background-color: #a4c0f5;
  box-shadow: 4px 4px 4px rgba(168, 168, 168, 0.5);
  border-radius: 20px;
}