<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        login:
        <input type="text" id="un" placeholder="username" name="un"><br>
        <input type="password" id="pass" placeholder="password" name="pass">
        <button>Login</button>
        <h5>not signed up yet: <a href="/register">register</a></h5>
    </form>
</body>
</html>